@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper .image {
  top: -100%;
  left: 0;
}

.wrapper:hover .image {
  top: 0;
}

.wrapper:hover .box {
 transition: translateY(100%) 1.0s ;
}


.wrapper-gallery .box .content {
  top: -100%;
  background-color: rgba(255, 255,255, 0.8);
}


.wrapper-gallery .box:hover .content {
  top: 0;
}
